* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.cats {
  overflow: visible;
}

.carousel-container {
}

.carousel {
  overflow: visible;
}

.carousel-item {
  overflow: visible;

  img {
    overflow: visible;
  }
}

.inner-carousel {
  overflow: visible;
}
