* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;

  line-height: 1.6;
}
.container {
  max-width: 60vw;
  margin: 0 auto;
}

.aboutme {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.aboutme img {
  border-radius: 25%;
  width: 400px;
  text-align: center;
  box-shadow: purple;
  border: #5ac3e8 10px solid;
}
header {
  margin-top: 0;
  padding-top: 0;
}

section {
  padding: 75px 0;
}

.majorProjects {
  text-align: center;
}

.minorProjects {
  text-align: center;
}

.button {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #c65ae8;
  padding: 10px 25px;
  margin-top: 25px;
  text-align: center;
}

.button:hover,
.button:focus {
  background: #252525;
  color: #fff;
  text-align: center;
}

.bigButton {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #c65ae8;
  padding: 11px 26px;
  margin-top: 25px;
  text-align: center;
}

.bigButton:hover,
.bigButton:focus {
  background: #252525;
  color: #fff;
  text-align: center;
}

img {
  border-radius: 10%;
  width: 195px;
  text-align: center;
  box-shadow: purple;
  border: #252525 2px solid;
}

.projectsHeader {
  padding-top: 0;
  margin-top: 0%;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid;
  margin-bottom: 2em;
}

.name {
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 2px solid;
  margin-bottom: 1em;
}

.dark {
  /* background-image: url("img/darkBlue.png"); */
  background-color: rgba(24, 52, 62, 1);
  color: rgba(255, 255, 255, 0.85);
}
.light {
  /* background-image: url("img/lightBlue.png"); */
  background-color: rgba(90, 195, 232, 1);
  color: rgba(0, 0, 0, 0.85);
}
