* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0 auto;
  padding: 0;
  text-shadow: 1px 1px 2px #474747;
  line-height: 1.6;
}
.container {
  max-width: 60vw;
  margin: 0 auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.aboutme img {
  border-radius: 25%;
  width: 400px;
  text-align: center;
  box-shadow: purple;
  border: #5ac3e8 10px solid;
}
header {
  margin-top: 0;
  padding-top: 0;
}

section {
  padding: 75px 0;
}

.majorProjects {
  text-align: center;
}

.minorProjects {
  text-align: center;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #c65ae8;
  padding: 10px 25px;
  margin-top: 25px;
  text-align: center;
  /* background-image: linear-gradient(45deg, #c65ae8, #ce75e9); */
  border-radius: 10px;
  transform: scale(1);
  transition: transform 200ms, color 200ms;
}

.button:hover,
.button:focus {
  background: #252525;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transform: scale(1.1);
}

.bigButton {
  text-transform: uppercase;

  letter-spacing: 1px;

  font-weight: 600;
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #c65ae8;
  padding: 11px 26px;
  margin-top: 25px;
  text-align: center;
  /* background-image: linear-gradient(45deg, #c65ae8, #ce75e9); */
  border-radius: 10px;
  transform: scale(1);
  transition: transform 200ms, color 200ms;
}

.bigButton:hover,
.bigButton:focus {
  background: #252525;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transform: scale(1.1);
}

img {
  border-radius: 10%;
  width: 195px;
  text-align: center;
  box-shadow: purple;
  border: #252525 2px solid;
}

.projectsHeader {
  padding-top: 0;
  margin-top: 0%;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid;
  margin-bottom: 2em;
}

.name {
  text-transform: uppercase;
  letter-spacing: 4px;
  border-bottom: 2px solid;
  margin-bottom: 1em;
  font-weight: 900;
}

.dark {
  background-image: url("img/darkBlue.png");
  background-blend-mode: darken;
  /* background-color: rgba(24, 52, 62, 1); */
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: rgba(255, 255, 255, 0.85);
}
.light {
  background-image: url("img/darkBlue.png");
  background-blend-mode: difference;
  /* background-color: rgba(90, 195, 232, 1); */
  color: rgba(0, 0, 0, 0.85);
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor2 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  text-shadow: 1px 1px 1px #e60edf;
}

.sweetNav {
  /* background-color: rgba(90, 195, 232, 1); */
  color: rgba(0, 0, 0, 0.85);
  -webkit-animation: bgcolor2 20s infinite;
  animation: bgcolor2 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  position: fixed;
  width: 100%;
  /* box-shadow: 2px 2.98256px 7.4564px, white; */
}

@media (min-width: 1800px) {
  body {
    display: flex;
  }

  .aboutme {
    padding-top: 58px;
  }
  /* 
  .container {
    display: flex;
  } */
}

@keyframes bgcolor {
  0% {
    background-color: #295f86;
  }

  30% {
    background-color: #3f7922;
  }

  60% {
    background-color: #9b440a;
  }

  90% {
    background-color: rgb(173, 35, 58);
  }

  100% {
    background-color: #60368a;
  }
}

@keyframes bgcolor2 {
  0% {
    background-color: #45a3e5;
  }

  30% {
    background-color: #66bf39;
  }

  60% {
    background-color: #eb670f;
  }

  90% {
    background-color: #f35;
  }

  100% {
    background-color: #864cbf;
  }
}

/* background-image: linear-gradient(45deg, green, yellow); */

/* body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
} */
