#root {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    "... ... ..."
    "... middle middle"
    "... ... ...";
}

.greet {
  color: red;
  grid-area: middle;
  background-color: purple;
}
