@import "../../global.scss";

.topbar {
  width: 100vw;
  height: 7.5vh;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  transition: all 1s ease;

  .wrapper {
    width: 100%;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.75vh;
    overflow: hidden;

    .left {
      display: flex;
      align-items: center;
      //justify-content: space-between;

      .logo {
        font-size: clamp(2vw, 4.5vh, 4.5vh);
        // font-size: clamp(3rem, 5vw, 4rem);
        font-weight: 700;
        margin: 0 auto;
        text-decoration: none;
        color: inherit;
        padding-right: 1.5vw;
        flex-shrink: 0;
        display: flex;
      }
      .linksContainer {
        display: flex;
        align-items: center;
        margin: 0;

        width: 600px;

        gap: 1px;
        justify-content: left;

        .icon {
          font-size: clamp(1vw, 4vh, 2.5rem);
          margin-left: 0.5em;
          margin-right: 0.5rem;
        }

        a {
          font-size: clamp(0.5vw, 2vh, 1.25rem);
          margin: 0;
          width: 300px;
          letter-spacing: 1px;
          font-weight: 400;

          white-space: nowrap;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
        a:link {
          text-decoration: none;
        }

        a:visited {
          text-decoration: none;
          color: inherit;
        }

        a:hover {
          //text-decoration: underline;
          font-weight: 700;

          .icon {
          }
        }

        a:active {
          text-decoration: underline;
        }
      }
    }
    .right {
      .hamburger {
        overflow: hidden;
        width: 5vh;

        height: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          width: 100%;
          height: 0.35vh;
          min-height: 5px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
}

// Media Queries //

@media (max-width: 1100px) {
  .linksContainer {
    max-width: 300px;
    width: 300px;
    p {
      display: none;
    }
  }

  // a {
  //   width: 150px;
  // }
}

//display: contents;

@media (max-width: 600px) {
  .logo {
    width: 50px;
  }
  p {
    display: none;
  }
  .linksContainer {
    max-width: 200px;
    width: 200px;

    Span {
      display: none;
    }
  }
  // .left .right .linksContainer .logo .icon {
  //   display: none;
  // }
}
