.Cats {
  background-color: mediumslateblue;
  display: flex;
  align-items: center;
  justify-content: center;

  .gallery {
    height: 75vh;
    display: flex;
    position: ablsolute;
    left: 0;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 75vw;
        height: 90%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
