.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer {
      width: 45vw;
      height: 45vw;
      background-color: red;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      // float: left;

      .img {
        height: 45vw;
        width: 45vw;
      }
    }
  }
  .right {
    flex: 0.5;
    background-color: blue;
  }
}

.svgWave {
  position: absolute;
  bottom: 0vh;
  width: 100vw;
}

// .spacer {
//   //aspect-ratio: 960/300;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-image: "./layered-waves-haikei.svg";
// }
