@import "../../global.scss";

.intro {
  background-color: black;
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  text-align: center;

  .left {
    flex: 0;
    background-color: lightseagreen;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer {
      // width: 35vw;
      // height: 35vw;
      // min-height: 450px;
      // min-width: 450px;
      max-height: 800px;
      max-width: 800px;
      width: 35vw;
      height: 35vw;
      z-index: 5;

      background-color: black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // float: right;
      border: 1px solid black;
      overflow: hidden;
      box-shadow: 4px 4px 8px #474747;

      .img {
        // min-height: 500px;
        // min-width: 500px;
      }
    }
  }
  .right {
    flex: 1;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
      z-index: 1;
      width: 100%;
      height: 100%;
      // padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      word-spacing: 0.3em;

      h1 {
        // font-size: 60px;
        font-size: clamp(8vh, 7vw, 7vw);
        color: $mainColor;
        margin: 10px 0;
        text-shadow: 1px 1px 2px #474747;
        font-weight: 500;
      }
      h2 {
        // font-size: 35px;
        font-size: clamp(5vh, 3.75vw, 3.75vw);
        color: $mainColor;
        text-shadow: 1px 1px 2px #474747;
        font-weight: 400;
      }
      h3 {
        // font-size: 30px;
        font-size: clamp(3vh, 2.5vw, 2.5vw);
        text-shadow: 1px 1px 2px #474747;
        font-weight: 300;
        span {
          font-size: inherit;

          white-space: pre-wrap;
        }
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 100px;
        position: absolute;
        bottom: 350px;
        z-index: 5;
        animation: nextBlink 4s infinite;
      }
      @keyframes nextBlink {
        50% {
          opacity: 0;
        }
        100% {
          opacity: 100;
        }
      }
    }
  }
}

.svgWave {
  position: absolute;
  bottom: 0vh;
  width: 100vw;
}

.flip {
  transform: rotate(180deg);
  position: absolute;
  top: 0vh;
}

@media (max-width: 1400px) {
  .intro {
    flex-direction: column;
    .right {
      flex: 0.5;
      .wrapper {
        justify-content: center;
        align-items: center;
      }
    }

    .left {
      flex: 0.5;
      order: 2;
      .imgContainer {
        width: 40vw;
        height: 40vw;
      }
    }
  }
}

// .spacer {
//   //aspect-ratio: 960/300;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-image: "./layered-waves-haikei.svg";
// }
