.intro {
  background-color: lightseagreen;
}

.svgWave {
  position: relative;
  bottom: 0vh;
  width: 100vw;
}

// .spacer {
//   //aspect-ratio: 960/300;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-image: "./layered-waves-haikei.svg";
// }
