.spotlight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 5vh;
}

.Spotlighttop {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  // border: 2px solid black;
}
.cover {
  height: auto;
  width: 75%;
  max-height: 800px;
  max-width: 756px;
  white-space: nowrap;
  overflow: hidden;
  // box-shadow: 0px 0px 15px -8px black;
  box-shadow: 0px 0px 30px -16px black;
}
.Spotlightbottom {
  padding-left: 10%;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;

  // border: 2px solid red;

  .Spotlightleft {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;

    .techniques {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: clamp(3vh, 2.5vw, 2.5vw);
        text-shadow: 1px 1px 2px #474747;
        font-weight: 300;
      }

      li {
        font-size: clamp(1.5vh, 1.25vw, 1.25vw);
        text-shadow: 1px 1px 2px #474747;
        font-weight: 300;
      }

      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .Spotlightright {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    // border: 2px solid red;

    .purpose {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: clamp(3vh, 2.5vw, 2.5vw);
        text-shadow: 1px 1px 2px #474747;
        font-weight: 300;
      }

      p {
        font-size: clamp(1.5vh, 1.25vw, 1.25vw);
        text-shadow: 1px 1px 2px #474747;
        font-weight: 300;
      }
    }
  }
}
